# Copyright (C) 2019-2020 Nurul GC
# Trademark (TM) 2019 ArtesGC
# .desktop for linux version

[Desktop Entry]
Type=Application
Name=GCrypter
Version=0.7
GenericName=Encrypt & Decrypt Messages
Comment[PT]=GCrypter uma forma simples de manter os seus pensamentos seguros!
Comment=encode and decode your thoughts easily
Encoding=UTF-8
Categories=Security;Utility;TextEditor;
MimeType=application/x-gc;
Exec=/usr/share/gcrypter/GCrypter
Icon=/usr/share/gcrypter/img/gcrypter-icon.png
StartupWMClass=GCrypt(PT)
Terminal=false
StartupNotify=true
