QWidget, QFrame{
    background-color: black;
    color: wheat;
    font-family: cambria;
    font-size: 10pt;
}

QMenu::item:selected {
    background: rgb(115, 115, 115);
}

QTextEdit{
    background-color: orange;
    color: black;
}

QLineEdit{
    background-color: orange;
    color: black;
}

QComboBox{
    border-color: white;
}

QProgressBar{
    background-color: orange;
}
